<h2>Products</h2>

<a [routerLink]="['/userDetails']">User Details</a>

<div *ngFor="let product of products;index as productId">
    <h3>
        <a [title]="'Rs.'+product.price" [routerLink]="[ '/products', productId ]">
            {{product.name}}
        </a>
    </h3>
    <p *ngIf="product.description">
        {{product.description}}
    </p>
    <button (click)="share()">
        Share
    </button>

    <app-product-alerts [product]="product" (notify)="onNotify()">

    </app-product-alerts>
</div>